*{
    margin: 0;
    background-color: purple;
    color: aliceblue;
}

body{
    padding: 5px;
}

ol{
    background-color: black;
}
.sub-item{
    color: aqua;

}

.nav{
    background-color: black;
    color: aliceblue;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

subtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}